* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    margin-top: 70px;
    margin-bottom: 55px;
}

.super {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}